<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace : sql태그 id를 그룹화하기 위한 속성 mapper의 경로를 작성 -->
<mapper namespace="com.smhrd.database.UserMapper">
	
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="com.smhrd.domain.TB_USER">
		INSERT INTO TB_USER VALUES(#{user_id}, #{user_pw}, #{user_email}, #{user_nick}, #{user_joinDate}, #{user_type})
	</insert>
	
	<!-- 로그인 -->
	<select id="selectUser" parameterType="com.smhrd.domain.TB_USER" resultType="com.smhrd.domain.TB_USER">
		SELECT * FROM TB_USER WHERE user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateUser" parameterType="com.smhrd.domain.TB_USER">
		UPDATE TB_USER SET user_pw=#{user_pw}, user_email=#{user_email}, user_nick=#{user_nick} WHERE user_id=#{user_id}
	</update>
	
	<!-- 로그아웃 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM TB_USER WHERE user_id=#{user_id}
	</delete>
</mapper>