<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertBoardCon</servlet-name>
  	<display-name>InsertBoardCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.InsertBoardCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertAllBoardCon</servlet-name>
  	<display-name>InsertAllBoardCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.InsertAllBoardCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBoardCon</servlet-name>
  	<display-name>DeleteBoardCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.DeleteBoardCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBoardCon</servlet-name>
  	<display-name>UpdateBoardCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.UpdateBoardCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectOneBoardCon</servlet-name>
  	<display-name>SelectOneBoardCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.SelectOneBoardCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCommentCon</servlet-name>
  	<display-name>DeleteCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.DeleteCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertCommentCon</servlet-name>
  	<display-name>InsertCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.InsertCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCommentCon</servlet-name>
  	<display-name>UpdateCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.UpdateCommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectAllCommentCon</servlet-name>
  	<display-name>SelectAllCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.Controller.SelectAllCommentCon</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertBoardCon</servlet-name>
  	<url-pattern>/InsertBoardCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertAllBoardCon</servlet-name>
  	<url-pattern>/InsertAllBoardCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBoardCon</servlet-name>
  	<url-pattern>/DeleteBoardCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBoardCon</servlet-name>
  	<url-pattern>/UpdateBoardCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectOneBoardCon</servlet-name>
  	<url-pattern>/SelectOneBoardCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCommentCon</servlet-name>
  	<url-pattern>/DeleteCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertCommentCon</servlet-name>
  	<url-pattern>/InsertCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCommentCon</servlet-name>
  	<url-pattern>/UpdateCommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectAllCommentCon</servlet-name>
  	<url-pattern>/SelectAllCommentCon</url-pattern>
  </servlet-mapping>

</web-app>
