:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: left;
    margin-top: 90px;
}

h1, .filter, .board-list-wrap{
    margin-left: 70px;
}

.filter{
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#category{
    width: 100px;
    margin-left: 5px;
    border-radius: 5px;
    outline: none;
    background: #eee;
}

.filter>div>label{
    font-size: 16px;
    font-weight: 600;
}

.filter>div>label,#category{
    height: 30px;
}

.search{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchInput{
    height: 30px;
    width: 250px;
    padding: 5px 8px;
    background: #eee;
    border: none;
}

#searchButton{
    height: 30px;
    margin-left: 10px;
    font-weight: 600;
    padding: 0 8px;
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
    border: none;
}

#searchButton:hover{
    background-color: var(--color-brand2);
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #999;
    padding: 15px 0;
}

/* board_title */
.num, .category, .cnt{
    width: 10%;
}

.th-title{
    width: 40%;
}

.title{
    width: 40%;
    text-align: left;
}

.writer{
    width: 10%;
}

.date{
    width: 10%;
}


/* board */
.board-wrap{
    width: 1000px;
    margin-left: 5%;
}

.board-list-wrap{
    width: 100%;
}

.board-title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.board-list{
    width: 100%;
    border-top: 2px solid var(--color-body);
    border-bottom: 1px solid var(--color-body);
}

.board-bottom{
    margin-top: 5%;
}

.page{
    position: absolute;
    left: 40%;
}

.page a{
    width: 30px;
    height: 30px;
    padding: 15px;
}

#searchInput, #searchButton, .on{
    border-radius: 7px;
}

#searchInput{
    outline: none;
}

.write-btn{
    position: absolute;
    right: 10.5%;
}

.on{
    font-weight: 700;
    padding: 8px 12px;
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.on:hover{
    background-color: var(--color-brand2);
    color: var(--color-base);
}

.top{
    border-bottom: 1px solid #000;
}