:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
}

*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    display: inline-block;
}

.board-view-wrap{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 10%;
    width: 1000px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.board-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-head-left{
    margin: 3% 0 0 3%;
}

.board-head-left .category{
    margin-right: 5px;
}

.board-head-right{
    margin: 3% 3% 0 0;
}

.category, .title{
    font-size: 20px;
    font-weight: 700;
}

.category, .title, .writer{
    color: #fff;
}

.list{
    padding: 3px 7px;
    border-radius: 5px;
    background: var(--color-brand);
    font-weight: 600;
}

.list a{
    color: var(--color-base);
}

.list, .comentButton{
    border: none;
}

.board-info{
    display: flex;
    justify-content: start;
    margin: 0.5% 3% 1% 3%;
    padding: 0 0 1% 0;
    border-bottom: 1px solid #fff;
}

.board-info>.writer, .cnt{
    margin-right: 10px;
}

.board-content{
    margin-top: 2%;
    margin-bottom: 5%;
    max-width: 920px;
    width: 100%;
}

.content, .coment{
    text-align: initial;
    color: var(--color-body);
}

.board-content, .board-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
}

.board-btn{
    margin: 0 3% 2% 3%;
    padding: 0 0 1% 0;
    border-bottom: 1px solid #fff;
}

.board-btn-left{
    width: 20%;
    display: flex;
}

.board-btn-right button{
    background-color: transparent;
    border: none;
    padding: 3px 5px;
    color: var(--color-body);
}

.btn-coment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.btn-coment i{
    margin-right: 5px;
}

.btn-like .like{
    border: 0;
    background-color: transparent;
    color: #b6cbce;
}

.board-coment{
    max-width: 920px;
    width: 100%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.coment-btn{
    width: 938px;
    height: 80px;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.coment-btn>.comentInput{
    border-radius: 5px;
    border: none;
    padding: 10px 0 0 10px;
    max-height: 80px;
    height: 100%;
    width: 845px;
    resize: none;
    background-color: #eee;
    outline: none;
}

.coment-btn>.comentButton{
    width: 80px;
    border-radius: 5px;
    background-color: var(--color-brand);
    color: var(--color-base);
    font-size: 18px;
    font-weight: 600;
}

.coment-btn>.comentInput:focus{
    outline: 3px solid rgba(134, 183, 254, 0.8);
}

.board-coment .writer{
    text-align: initial;
}